@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<body>
    <h2>Error:</h2>
    <p></p>
    <label id="ExceptionMessage" Font-Size="Large" style="color: red">@Model.ExceptionMessage</label>
</body>